<section class="local">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-sm-12 alinha" >
        <img src="../../assets/evora.jpg" class="evora" />
        <h1>Localização</h1>
        <p>Conheça a Localização do Edifício Evora, Vista Real
          dos Apartamentos !
        </p>
      </div>

      <figure class="col-lg-7 col-sm-12">


        <iframe class="video" src="https://www.youtube.com/embed/KRGh7M4s49A" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </figure>

    </div>
  </div>
</section>