<section class="local">
  <div class="container">
    <div class="row">

      <div class="texto" >
        A FFA Construtora Lean traz para o mercado um apartamento completamente acima dos padrões, e esta
        capacidade de diferenciação encontra-se no método construtivo adotado pela empresa, 
        após um longo período de planejamento e estudos a empresa lançou o edifício Evora.
        <p><p>

        Basicamente todas as etapas foram projetadas de maneira a entregar o maior valor possível a seus
        proprietários, e não em formas de se economizar dinheiro como a maioria dos empreendimentos
        é planejada.
        <p>
        Desde as vagas de garagem, pé direito, janelas, acabamentos, estrutura, design e sequencia de execução  
        do empreendiento foram exaustivamente pensados para tornar o edifício Evora o prédio
        que redefinirá completamente a percepção dos clientes do que é qualidade em um apartamento !
        <p>
        E tem mais um detalhe que não podemos esquecer, todas as áreas de lazer serão entregues mobiliadas
        e decoradas, permitindo que seus moradores desfrutem ao máximo de seu apartamento assim que receberem
        as achaves.
        <p>
        
        Localizado na região que mais crescerá nos próximos anos em Caraguatatuba, também proporcionará
        um ótimo retorno sobre investimento para aqueles que desejam fazer uma aplicação de qualidade e com segurança.
        <p>

      </div>




    </div>
  </div>
</section>
