

  <div>
      <main class= "container">
        <div class="container" style="object-position: center" >
         
          <div class="hall bg-info text-light pt-4">
           <h3 class="titulo">Construindo com Eficiência</h3>
          <p class="texto">
        A FFA Construtora Lean surgiu a partir da necessidade de criar métodos e processos que economizassem tempo, energia, materiais e pudesse aumentar a qualidade do produto final. <br><br>
        Diante da oportunidade de reinventar o seguimento da construção civil, nós fomos em busca de métodos e técnicas que nos auxiliassem nessa empreitada. 
        
        Após um longo período de pesquisa, testes de metodologias e softwares , processos e padrões, entendemos que a única metodologia existente capaz de nos proporcionar diminuição dos custos de produção, redução dos desperdícios e aumento da qualidade seria a mentalidade Lean ( Lean Thinking ).<br><br>
        
        O pensamento Lean, mais conhecido como TPS (Toyota Production System) estava sendo aplicado com sucesso em diversos ramos de atividade a muitos anos, porém no ramo da construção civil este pensamento ainda é pouco disseminado e aplicado apenas pontualmente em determinadas etapas do processo de construção. <br><br>
        
        Então em 2016 nós convidamos dois renomados pensadores Lean, o Sr. Flávio Battaglia atual diretor do Lean Institute Brasil, e Sr. Carlos Frederico Médico renomado na area de gestão enxuta em saúde. <br><br>
        
        E com o tempo enxergamos que alem de construir empreendimentos Lean, tínhamos a missão de transmitir e disseminar essa mentalidade, de modo a expandir as fronteiras do pensamento tradicional, mostrando os benefícios da cultura Lean não só para a construção civil mas para sociedade brasileira como um todo. <br><br>
        
        Hoje a FFA Construtora Lean tem grande ambições mas uma das principais, é a de ser uma referencia positiva no que diz respeito a Lean Construction e a disseminação do Lean Construction no Brasil. <br><br>
          </p>
          </div>
        </div>
      
      </main>
    </div>


 

