<div class="container">
  <div class="row conteudo">
    <div class="col-sm col-md-6 espaco">
      <p>
        „Se você pode ver o seu caminho indicado na sua frente, passo a passo, saiba que não é seu caminho. O seu
        próprio caminho você faz com cada passo que dá. É por isso que é o seu caminho.“ — Joseph Campbell

      </p>
  <br>
      
      <p>
        „Precisamos estar dispostos a nos livrar da vida que planejamos, para podermos viver a vida que nos espera. A
        pele velha tem que cair para que uma nova possa nascer.“ — Joseph Campbell
      </p>
    </div>

    <div class="col-sm col-md-6">

        <iframe width="555" height="400" src="https://www.youtube.com/embed/zmdVLh3JihU" frameborder="0"
         allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </div>
</div>