<section class="local bg-info hall text-light">
  <div class="container">
    <div class="container-fluid">


      <div class="row">


        <div class="col-md-6 col-sm-12">
          <h4 class="titulo1">Conheça mais sobre o Edifício Evora</h4>
          <p class="texto1"> Neste vídeo o consultor Flávio Battaglia, explica um pouco sobre o projeto com a FFA
            Construtora,
            e como a metodologia de construção que esta sendo empregada no Edifício Evora trará benefícios direto aos
            proprietarios. </p>
        </div>

      <div class="alinhacentro col-md-6 col-sm-12">

      
        <iframe class="video"
          src="https://www.youtube.com/embed/T5CJg2qbF_c" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</section>