.formato{
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 15%;
    
}

.video{
    width: 300px; 
    height: 300px;
    margin-top:5px;
    margin-bottom: 5px;
}

.alinha{
    text-align: center;
}